.Projects {
    padding: 50px;
    min-height: 80vh;
    background: rgb(21,12,24);
    background: linear-gradient(180deg, rgba(32,25,57,1) 5%, rgb(43, 17, 52) 100%);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Projects h1{
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    color: aliceblue;
    text-align: left;
    font-size: 40px;
}

.Projects h5 {
    margin-left: 1.5em;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
}

.Projects img{
    width: 40px;
}
.categoryTitle{
    text-align: left;
    color: aliceblue;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 20px;
}
.proj-grid-container {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    margin: auto;
    padding: 5px;
}

.proj-grid-item {
    padding: 10px;
    font-size: 30px;
    text-align: left;
}
.proj-grid-item  a{
    text-decoration: none;
    color: #ffffff;
}
.card{
    position: relative;
    background-image: linear-gradient(
        230deg,
        hsl(278deg 30% 30%) 0%,
        hsl(265deg 44% 20%) 35%,
        hsl(252deg 58% 10%) 100%
      );
    border: rgb(64 22 98) 2px solid;
    border-radius: 10px;
    height: 200px;
    padding: 10px;
    width: 300px;
    text-align: left;
    transition: all .2s ease-in-out;
}

.card h4{
    color: rgb(194, 63, 206);
    font-size: 20px;
    margin: 0;
    text-decoration: none;
}
.card h5{
    color: rgb(91, 147, 233);
    font-size: 18px;
    margin: 0;
    text-decoration: none;
}
.card p{
    font-size: 16px;
    margin: 0;
}
.card:hover{
    transform: scale(1.1);
}
.proj-icons{
    display: inline;
    position: absolute;
    bottom: 0;
}
.proj-icons img{
    padding-right: 0.2em;
    width: 30px;
}

.folder{
    opacity: 0.8;
    width: 30px !important;
}
.link{
    float: right;
    width: 20px !important;
}

@media only screen and (max-width: 1050px) {
    .proj-grid-container {
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        padding: 5px;
    }
}


@media only screen and (max-width: 600px) {
    .Projects h1{
        text-align: left;
        font-size: 40px;
        margin-left: 0.8em;
    }
    .proj-grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }
    .proj-grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    .card{
    
        border-radius: 10px;
        padding: 10px;
        width: 250px;
        height: fit-content;
        text-align: left;
        transition: all .2s ease-in-out;
    }
    .proj-icons{
        display: inline;
        position: relative;
    }
}