.About {
    padding: 40px;
    min-height: 50vh;
    background-image: linear-gradient(#0C121E 50%, rgba(21,12,24,1) 100%);
    color: rgb(230, 244, 255);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centered {
    position: relative;
    max-height: inherit;
}

.About h1 {
    font-size: 40px;
    color: aliceblue;
    margin: auto;
    width: 60%;
    text-align: left;
}
.About h5 {
    font-size: 18px;
    color: #E89A38;
    margin: auto;
    width: 60%;
    text-align: left;
}
.About h3 {
    color: #E89A38;
    margin: auto;
    width: 60%;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
.About p {
    color: aliceblue;
    text-align: justify;
    width: 60%;
    margin: auto;
}
.About h4 {
    padding-top: 1em;
    text-align: center;
    color: #E89A38;
}
.About button {
    height: 45px;
    border-radius: 10px;
    background-color: #E89A38;

    border: 0;
}
.About img {
    height: 20px;
    width: 35px;
    display: flex;
}

.About button:hover{
    cursor: pointer;
}

.download_contain{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download_cv{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 600px) {

    .About h1 {
        font-size: 28px;
        text-align: left;
        margin: auto;
        width: 90%;
        text-align: left;
    }
    .About h5 {
        font-size: 15px;
        color: #ce29e4;
        margin: auto;
        width: 90%;
        text-align: left;
    }
    .About h3 {
        color: #ce29e4;
        margin: auto;
        width: 90%;
        text-align: left;
        margin-top: 1em;
        margin-bottom: 0.2em;
    }
    .About p {
        text-align: left;
        width: 90%;
        margin: auto;
    }

}