.Home {
    padding: 40px;
    min-height:100vh;
    background-image: linear-gradient(
        180deg,
        hsl(240deg 42% 11%) 0%,
        hsl(253deg 44% 11%) 16%,
        hsl(263deg 46% 11%) 27%,
        hsl(269deg 48% 12%) 36%,
        hsl(275deg 50% 12%) 43%,
        hsl(275deg 49% 12%) 51%,
        hsl(269deg 44% 11%) 58%,
        hsl(261deg 39% 11%) 66%,
        hsl(245deg 33% 10%) 77%,
        hsl(218deg 46% 8%) 100%
      );
}
.centeredDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}
.innerDiv{
    margin-bottom: 10em;
}
.Home h1{
    text-align: left;
    font-size: 80px;
    font-family: 'Secular One', sans-serif;
    color: aliceblue;
    letter-spacing: 2px;
    margin: 0;
}
.Home h2{
    font-size: 25px;
    font-family: 'Secular One', sans-serif;
    text-align: left;
    color: aliceblue;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}
.Home h3{
    font-size: 18px;
    text-align: left;
    color: aliceblue;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
}
.row h2{
    line-height: 72px;
    font-size: 35px;
}

.Typewriter{
    position: relative;
}
.Typewriter span{
    color: rgb(139, 120, 223);
    font-size: 40px;
    text-align: justify;
    font-family: 'Secular One', sans-serif;
    line-height: 72px;
}

.myFace{
    align-items: center;
    justify-content: center;
    width: 500px;
    opacity: 50%;
}
.mask {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-mask-image: url('../../resources/Personal/SphereRandom.png');
    mask-image: url('../../resources/Personal/SphereRandom.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: repeat;
    width: fit-content;
}

@media only screen and (max-width: 600px) {

    .Home h1{
        font-size: 40px;
        color: aliceblue;
        text-align: left;
        width: fit-content;
    }
    .Home h2{
        font-size: 20px;
        color: aliceblue;
        text-align: left;
        width: fit-content;
    }
    .Home span{
        text-align: left;
        font-size: 20px;
    }
    .mask {
        display: none;
    }
}