.Contact {
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(43, 17, 52) 0%, rgb(14, 17, 91) 100%);
    color: rgb(230, 230, 230);
    /* Center child div vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.canvas{
    height: 500px !important;
    width: 500px !important;
}
.row-data{
    width: fit-content !important;
    align-items: center;
    display: flex;
    width: 1000px;
}
.box-container {
    background: linear-gradient(180deg, rgb(66, 25, 80) 0%, rgb(53, 56, 163) 100%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 2em;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.Contact input{
    margin-bottom: 1em;
    border: rgb(236, 236, 236) 2px solid;
    border-radius: 5px;
    height: 30px;
    box-shadow: rgb(197, 197, 197) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.Contact textarea{
    box-shadow: rgb(197, 197, 197) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: rgb(236, 236, 236) 2px solid;
    border-radius: 5px;
}
#userMessage{
    padding-bottom: 5px;
    color: rgb(231, 231, 231);
}

#submit{
    width: 100px;
    height: 40px;
    background-color: rgba(19, 29, 82, 0.7);
    border: 0;
    border-radius: 5px;
    float: left;
    color: rgb(236, 236, 236);
    font-weight: bold;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#submit:hover{
    cursor: pointer;
}
.Contact input, select, textarea{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.Contact, textarea{
    padding-top: 5px;
}
.label-input{
    width:'fit-content'
}

.Contact h1{
    font-size: 50px;
    color: rgb(235, 235, 235);
    text-align: left;
}
.Contact h5{
    font-size: 18px;
    color: rgb(235, 235, 235);
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
}

#titleMobile{
    display: none;
}
#textMobile{
    display: none;
}
@media only screen and (max-width: 430px) {
    
    #titleMobile{
        display: block;
        font-size: 40px;
        text-align: center;
    }   
    #textMobile{
        display: block;
        font-size: 18px;
        text-align: center;
    }
    #textMobile a{
        text-decoration: none;
        color: rgb(95, 201, 139);
    }
    .row-data{
        display: inline-block ;
        width: fit-content ;
        align-items: center;
        margin-bottom: 5em;
    }
    .box-container {
        display: none;
    }
    .box-container h1{
        font-size: 40px;
    }
    .canvas{
        height: 300px !important;
        width: 300px !important;
    }
}